.button{
    color: var(--white);
    display: flex;
    width: 320px;
    justify-content: center;
    padding: 13px 20px;
    align-items: center;
    // border: 1px solid red;
    background-color: #f7685c;
    gap: 10px;
    border-radius: 8px;
    cursor: pointer;
    margin: 25px 0;
    

    svg{
        width: 24px;
        height: 24px;
        

    }
    h3{
        font-size: var(--fs-lg);
    }

    @media screen and (min-width: 1400px) {
        width: 400px;
    }
}