.container{
    display: flex;
    flex-direction: column;
    padding: 70px 0;
    

    h2{
        font-size: var(--fs-greet);
        
        font-weight: var(--fw-normal) !important;

        span{
            font-size: var(--fs-greet);
            font-weight: var(--fw-bold);
        }

    }
    p{
        color: #4D4D4D;
        font-size: var(--fs-md);
        line-height: 30px;
    }

}